.btn-secondary {
  padding: 1.5rem 5rem;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 999rem;
  background-color: #ffffff25;
  backdrop-filter: blur(5px);
  color: var(--color-primary-1);
  border: 2px solid var(--color-primary-3);
  transition: all 0.2s;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: transparent;
  backdrop-filter: blur(5px);
  color: var(--color-primary-1);
  border: 2px solid var(--color-primary-1);
}
