*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}

body {
}

:root {
  --color-primary-1: #14141c;
  --color-primary-2: #3c3f48ff;
  --color-primary-3: rgb(116, 119, 131);
}
